MYSQL_ROOT_PASSWORD=change_me
MYSQL_DATABASE=student_club
MYSQL_USER=student_club_app
MYSQL_PASSWORD=change_me
MYSQL_PORT=3306
TZ=Asia/Shanghai
MYSQL_HOST=127.0.0.1
DJANGO_SECRET_KEY=change_me
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost:5174,http://127.0.0.1:5174
